@model WebAPI_Movie.Models.MovieAndRoom

@section scripts{
   
    <script src="~/Scripts/jquery.signalR-2.4.2.js"></script>
    <script src="~/signalr/Hubs"></script>
    <script>

        var hub = $.connection.Movie;
        var role = "0";
        var id = null;
        if ('@Model.Movies' != "") {
            id = '@Model.Movies';
            role = "1";
        }
        
        var us = '@Model.UserId';
        var ro = '@Model.RoomId';


        var urlm = "" ;
        var timer = "";

        window.onbeforeunload = function () {
            hub.server.leave(ro, us);
            if (role == "1") {
                delroom();
                hub.server.leaveroom(ro);
            }
            if (role == "0") {
                deluser();
            }
            $.connection.hub.stop();
        }


        var urlhost = location.protocol + '//' + location.host + '/' + "api/FilmByMovieId";



        $(document).ready(function () {
            load();
            getroominf();
            
            if (role == "0") {
                // vid.removeAttribute('controls')
                var btn = "<button class='btn btn-danger' onclick='live()' >Go live</button>";;
                $("#group").append(btn);
            } 
            $.connection.hub.start().done(function () {
                hub.server.join(ro, us);   
            });

            hub.client.getleave = function (user) {
                if (role =="0")
                window.location.href = "/Room/index";
            }

            hub.client.getlive = function (url, ti) {
      
                if (role == "1") {
                    hub.server.send(ro, urlm, timer)
                }
                if (role == "0") {
                    var video = document.getElementById('player');
                    video.src = url;
                    video.currentTime = ti;
                    video.play();
                    $("#url").text("url :" + url)
                    $("#notify").text(ti)
                }
            }

            hub.client.message = function (r) {
                getroominf();
                live();
            }

            hub.client.geturl = function (url) {
                var video = document.getElementById('player');
                video.src = url;
                video.play();
                if (role == "0")
                $("#url").text("url :"+url)
            }
            hub.client.getcurrenttime = function (time) {
                vid.currentTime = time
                vid.play();
                if (role == "0")
                $("#notify").text(time)
            }

        });

        function live() {
            hub.server.send(ro, "", "");
        }

        function getroominf() {
            $("li").remove();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "../api/Room",
                data: { 'id': ro },
                success: function (data) {
                    $(data.Room).each(function (index, element) {
                        var arr = new Array();
                        arr.push(element.User1)
                        arr.push(element.User2)
                        arr.push(element.User3)
                        arr.push(element.User4)
                        arr.push(element.User5)
                        arr.push(element.User6)
                        arr.push(element.User7)
                        arr.push(element.User8)
                        arr.push(element.User9)
                        arr.push(element.User10)
                        arr.forEach(e => {
                            if (e != null) {
                                $("#online ul").append("<li>" + e + "</li>")
                            }
                        });
                    });
                  
                }
            });
        }

        function deluser() {
            if (ro != null) {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "../api/DelUserAtRoom",
                    data: { id : ro, user: us },
                    success: function (data) {
                        getroominf();
                    }
                });
            }
        }

        function delroom() {
            if (ro != null) {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "../api/DeleteRoom",
                    data: { 'id': ro },
                    success: function (data) {
                        if (data.message == "ok") {
                          
                        }
                    }
                });
            }
        }

        function load() {
            if (id != null) {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: urlhost,
                    data: { 'id': id },
                    success: function (data) {

                        $(data.FilmList).each(function (index, element) {
                            index++
                            var btn = "<button class='btn btn-success' onclick='Film(" + '"' + element.URL + '"' + ")' >" + index + "</button>";
                            $("#group").append(btn);

                        });

                    }
                });
            }

        }
        function Film(url) {
            var video = document.getElementById('player');     
            video.src = url;
            video.play();
            video.ontimeupdate = function () {
                timer = video.currentTime;
            }
            if (role =="1")
            hub.server.seturl(ro, url);
            urlm = url;
        }
        var vid = document.getElementById("player");


        vid.onplay = function () { update() };


        function update() {
            if (role=="1")
            hub.server.setcurrenttime(ro, vid.currentTime);
        }
    </script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoomMovie</title>
    
</head>
<body style="margin-top:10px; background-color:black; color:white">
    <div>
        <b>Room ID: @Model.RoomId</b>

        <br />
        <div style="margin-top: 10px; text-align: center;">
            <video id="player" autoplay controls width="100%" height="100%">
            </video>
        </div>
        <div style="text-align: center;" id="group" class="btn-group" role="group" aria-label="...">
        </div>
        <b id="url"></b>
        <b id="notify"></b>
        <br />
        <div style="margin-top:5px" id="online">
            <b>Online</b>
            <ul>
            </ul>
        </div>
    </div>
</body>
</html>
