@model WebAPI_Movie.Models.MovieAndRoom

@section scripts{
   
    <script src="~/Scripts/jquery.signalR-2.4.2.js"></script>
    <script src="~/signalr/Hubs"></script>
    <script>

        var hub = $.connection.Movie;
        var id = null;
        if ('@Model.Movies' != "") {
            id = '@Model.Movies';
        } 
        var us = '@Model.UserId';
        var ro = '@Model.RoomId';
        var urlhost = location.protocol + '//' + location.host + '/' + "api/FilmByMovieId";
        $(document).ready(function () {
            load()
            $.connection.hub.start().done(function () {
                hub.server.join(ro, us);
                getroominf();
            });

            hub.client.geturl = function (url) {
                var video = document.getElementById('player');
                video.src = url;
                video.play();
                $("#url").text("url :"+url)
            }
            hub.client.getcurrenttime = function (time) {
                vid.currentTime = time
                $("#notify").text(time)
            }

        });

        function getroominf() {
            $("li").remove();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "../api/Room",
                data: { 'id': ro },
                success: function (data) {
                    $(data.Room).each(function (index, element) {
                        var arr = new Array();
                        arr.push(element.User1)
                        arr.push(element.User2)
                        arr.push(element.User3)
                        arr.push(element.User4)
                        arr.push(element.User5)
                        arr.push(element.User6)
                        arr.push(element.User7)
                        arr.push(element.User8)
                        arr.push(element.User9)
                        arr.push(element.User10)
                        arr.forEach(e => {
                            if (e != null) {
                                $("#online ul").append("<li>" + e + "</li>")
                            }
                        });
                    });
                  
                }
            });
        }

        function load() {
            if (id != null) {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: urlhost,
                    data: { 'id': id },
                    success: function (data) {

                        $(data.FilmList).each(function (index, element) {
                            index++
                            var btn = "<button class='btn btn-success' onclick='Film(" + '"' + element.URL + '"' + ")' >" + index + "</button>";;
                            $("#group").append(btn);

                        });

                    }
                });
            }

        }
        function Film(url) {
            var video = document.getElementById('player');
            video.src = url;
            video.play();
            hub.server.seturl(ro, url);
        }
        var vid = document.getElementById("player");
        vid.onplay = function () { update() };
        function update() {
            hub.server.setcurrenttime(ro, vid.currentTime);
        }
    </script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoomMovie</title>
    
</head>
<body style="margin-top:10px; background-color:black; color:white">
    <div>
        <b>Room ID: @Model.RoomId</b>

        <br />
        <div style="margin-top: 10px; text-align: center;">
            <video id="player" controls width="100%" height="100%">
            </video>
        </div>
        <div style="text-align: center;" id="group" class="btn-group" role="group" aria-label="...">
        </div>
        <b id="url"></b>
        <b id="notify"></b>
        <br />
        <div id="online">
            <b>Online</b>
            <ul>
            </ul>
        </div>
    </div>
</body>
</html>
